<div class="header">

    <h1>Eat-Da-Burger</h1>
</div>

<div class="wrapper">
    <h2>These are ready to eat</h2>
    <h2>You ate:</h2>

</div>
{{!-- <ul>
    {{#each cats}}
    {{#unless sleepy}}
    {{> cats/cat-block sleep=true}}
    {{/unless}}
    {{/each}}
</ul> --}}
<div class="addarea">
    <h2>Add a burger</h2>
    <textarea name="" id="addburger" cols="50" rows="4"></textarea>
    <button type="submit">Add Burger</button>
</div>